@mixin flex-container($jc: flex-start, $ai: stretch, $direction: row, $wr: nowrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-flow: $direction $wr;
}

@mixin clampLines($lines: none, $ow: break-word, $wb: break-all) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow-wrap: $ow;
    word-break: $wb;
    overflow: hidden;
    text-overflow: ellipsis;
}